@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(./colors.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
  outline: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
  background-image: url(../images/background/background.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

//cabeçalho
.header {
  background-color: var(--color-primary-dark);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1.6rem;

  &__image {
    width: 4rem;
  }
  &__title {
    color: #ffffff;
    font-size: 2.4rem;
    font-weight: 600;
  }
  //imagem e titulo hover
  & :hover {
    transition: 200ms;
    opacity: 0.8;
    cursor: pointer;
  }

  //cabeçalho hover
  &:hover {
    transition: 200ms;
    background-color: rgba(21, 21, 24, 0.55);
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10rem 1rem 14rem;
  gap: 2.4rem;

  &__title {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 600;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: 2rem;
  & p {
    color: white;
    font-size: 2rem;
    text-align: center;
  }
  & p + label {
    background-color: var(--color-background-dark);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }
  &__input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    width: 30rem;
    &::placeholder {
      font-size: 2rem;
    }
  }
  &__button--submit {
    background-color: var(--color-button-dark);
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    width: 16rem;
    border: none;
    padding: 1.4rem 2rem;
    border-radius: 0.4rem;
    &:hover {
      transition: 200ms;
      background-color: #4d4d55;
      cursor: pointer;
    }
  }
}
.background {
  display: flex;
  flex: 1;
}
.footer {
  background-color: var(--color-primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4rem 1rem;

  //footer hover
  &:hover {
    transition: 200ms;
    background-color: rgba(21, 21, 24, 0.6);
  }

  &__lista {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    justify-content: space-evenly;
    width: 60%;
    min-width: 35rem;
  }
  &__item a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    &:hover {
      transition: 200ms;
      opacity: 0.7;
      cursor: pointer;
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    &__lista {
      width: 100%;
    }
  }
}
@media (max-width: 750px) {
  .form {
    width: 85%;
    & p + label {
      padding: 1rem;
    }
  }
}

@media (max-width: 590px) {
  .form {
    width: 90%;
    & p + label {
      padding: 1rem;
    }
    &__input {
      width: 20rem;
      &::placeholder {
        font-size: 1.8rem;
      }
    }
    &__button--submit {
      font-size: 1.8rem;
      width: 14rem;
      padding: 1rem 1.6rem;
    }
  }
  .footer {
    &__lista {
      width: 100%;
      gap: 0;
    }
    &__item a {
      font-size: 1.8rem;
      padding: 1rem 0.8rem;
    }
  }
}

@media (max-width: 450px) {
  .form {
    width: 98%;
    & p {
      font-size: 1.6rem;
    }
    & p + label {
      padding: 1rem 0.7rem;
    }
    &__input {
      width: 16rem;
      &::placeholder {
        font-size: 1.4rem;
      }
    }
    &__button--submit {
      font-size: 1.4rem;
      width: 11rem;
      padding: 1rem;
    }
  }
  .footer {
    &__lista {
      justify-content: center;
      gap: 1rem 2rem;
    }
    &__item:nth-child(2) {
      order: 2;
    }
    &__item a {
      font-size: 1.8rem;
      padding: 1rem 0.8rem;
    }
  }
}
